</main>
<footer class="footer">
    <div class="footer-content">
        <p>&copy; <%= new Date().getFullYear() %> Zope Insurance Company. All rights reserved.</p>
        <p>Head Office: PCMC near Aditya Birla Hospital, Ganga Builders office no. 2</p>
    </div>
</footer>

</body>
</html>
